@import "import";


.footer {
  background: $background;
  padding: 20px 0;
  color: $text-color;
}

.footer-title {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contacts-block {
  @include flex__element;
  justify-content: space-between;

  & .contact {
    height: 163px;
    text-align: center;

    & img {
      margin: 0 auto;
    }
  }

  & .contact-title {
    margin: 40px auto 8px;
  }

  & .contact-link {
    display: block;
    color: $text-color;
    text-decoration: none;
    margin-bottom: 8px;
  }

  & .contact-subtitle {
    margin-bottom: 5px;
  }
}

@media screen and (max-device-width: 768px) {
  .footer {
    border: 5px solid $media-color;
    //width: 768px;
  }

  .footer-title {
    text-align: center;
  }

  .contact-title {
    display: none;
  }

  .contact-link {
    font-size: 18px;
  }

  .contact-subtitle {
    font-size: 18px;
  }

  .contacts-block {
    width: max-content;
    height: 257px;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    text-align: left;
  }

  .contact {
    display: grid;
    grid-template-columns: 70px 180px;
    align-items: center;
    justify-content: left;
    align-content: flex-end;

    & img {
      margin: 0;
    }
  }
}