.map-section {
  background: #151616;
  padding: 20px 0;
  text-align: center;
  color: #FFFFFF;
}

.map-block {
  width: max-content;
  margin: 0 auto;
  border: 5px solid #ED1260;
  padding: 27px;
  box-sizing: border-box;
}
.map-block img {
  margin-bottom: 12px;
}
.map-block .map-title {
  font-size: 22px;
}

/*# sourceMappingURL=map.css.map */
