@import "import";

.about-us-block {
  background: $background;
  color: $text-color;
  padding-top: 37px;
}

.about-us-text {
  width: 932px;
  font-size: 25px;
  margin: 0 auto 69px;
}

.our-services {
  //@include flex__element;
  //flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.service-block {
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 22px;
  padding: 50px;

  @include flex__element;
  flex-direction: column;
}

.service-link {
  color: $text-color;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-title {
  width: 280px;
  font-size: 18px;
  margin-top: 15px;
}

@media screen and (max-device-width: 1024px) {
  .about-us-text {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (max-device-width: 768px) {
  .our-services {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-us-text {
    font-size: 20px;
    width: 465px;
    margin: 0 auto;
  }
}