@import "nav_bar&header.css";
.about-us-block {
  background: #151616;
  color: #FFFFFF;
  padding-top: 37px;
}

.about-us-text {
  width: 932px;
  font-size: 25px;
  margin: 0 auto 69px;
}

.our-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.service-block {
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 22px;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.service-link {
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-title {
  width: 280px;
  font-size: 18px;
  margin-top: 15px;
}

@media screen and (max-device-width: 1024px) {
  .about-us-text {
    width: 768px;
    margin: 0 auto;
  }
}
@media screen and (max-device-width: 768px) {
  .our-services {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-us-text {
    font-size: 20px;
    width: 465px;
    margin: 0 auto;
  }
}
.map-section {
  background: #151616;
  padding: 20px 0;
  text-align: center;
  color: #FFFFFF;
}

.map-block {
  width: max-content;
  margin: 0 auto;
  border: 5px solid #ED1260;
  padding: 27px;
  box-sizing: border-box;
}
.map-block img {
  margin-bottom: 12px;
}
.map-block .map-title {
  font-size: 22px;
}

@media screen and (max-device-width: 768px) {
  .map-section {
    padding-bottom: 60px;
  }
}
@media screen and (max-device-width: 375px) {
  .map-block {
    width: 600px;
  }
}
.footer {
  background: #151616;
  padding: 20px 0;
  color: #FFFFFF;
}

.footer-title {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contacts-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts-block .contact {
  height: 163px;
  text-align: center;
}
.contacts-block .contact img {
  margin: 0 auto;
}
.contacts-block .contact-title {
  margin: 40px auto 8px;
}
.contacts-block .contact-link {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 8px;
}
.contacts-block .contact-subtitle {
  margin-bottom: 5px;
}

@media screen and (max-device-width: 768px) {
  .footer {
    border: 5px solid #F38A03;
  }

  .footer-title {
    text-align: center;
  }

  .contact-title {
    display: none;
  }

  .contact-link {
    font-size: 18px;
  }

  .contact-subtitle {
    font-size: 18px;
  }

  .contacts-block {
    width: max-content;
    height: 257px;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    text-align: left;
  }

  .contact {
    display: grid;
    grid-template-columns: 70px 180px;
    align-items: center;
    justify-content: left;
    align-content: flex-end;
  }
  .contact img {
    margin: 0;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  width: max-content;
  font-family: "Montserrat", sans-serif;
  background: #151616;
}

.container {
  width: 957px;
  margin: 0 auto;
}

@media screen and (max-device-width: 1024px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-device-width: 768px) {
  .container {
    width: 600px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
