@import "nav_bar&header.css";
@import "service";
@import "map";
@import "footer";
* {
  margin: 0;
  padding: 0;
}

body {
  width: max-content;
  font-family: $font-family;
  background: $background;
}

.container {
  width: 957px;
  margin: 0 auto;
}

@media screen and (max-device-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media screen and (max-device-width: 768px) {
  .container {
    width: 600px;
    margin: 0 auto;
  }
}








